AIRFLOW_PASSWORD=airflow_psw
AIRFLOW_USER=airflow
AIRFLOW_DB=airflowDB:port/databaseName
AIRFLOW_SMTP_SMTP_HOST=smtp_mail
AIRFLOW_SMTP_SMTP_PORT=smtp_port
AIRFLOW_SMTP_SMTP_USER=mail_user
AIRFLOW_SMTP_SMTP_PASSWORD=mail_psw
AIRFLOW_SMTP_SMTP_MAIL_FROM=mail